<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset plugin="maven-plugin@1.527">
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>20</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.promoted__builds.JobPropertyImpl plugin="promoted-builds@2.11">
      <activeProcessNames>
        <string>promote</string>
        <string>deploy</string>
      </activeProcessNames>
    </hudson.plugins.promoted__builds.JobPropertyImpl>
  </properties>
  <scm class="hudson.plugins.mercurial.MercurialSCM" plugin="mercurial@1.46">
    <source>/path</source>
    <modules></modules>
    <subdir>mysubdir</subdir>
    <clean>false</clean>
    <browser class="hudson.plugins.mercurial.browser.HgWeb">
      <url>http://url</url>
    </browser>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>*/3 * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
</maven2-moduleset>
